# Ignorovat virtuální prostředí
venv/

# Ignorovat soubory cache Pythonu
__pycache__/
*.pyc

# Ignorovat logy a dočasné soubory
*.log
*.tmp

# Ignorovat nastavení editoru
.vscode/
.idea/

# Ignorovat systémové soubory
.DS_Store
Thumbs.db